@use '../helpers' as *;

.hero{
  &__title{
    text-align: center;
  }

  &__body{
    padding-block: rem(48);
    position: relative;
    

    @include laptop{
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-x: auto;
    }
  }
}