@use 'helpers' as *;

html {
  &.is-lock{
    overflow: hidden;
  }
}

body{
  display: flex;
  flex-direction: column;

  font-family: var(--font-family-base);
  color: var(--color-light);
  background: url('../images/bg.jpg') 0 0/cover no-repeat;
  background-position: center;
  @include mobile{
    background: url('../images/bg-mobile.jpg') 0 0/cover no-repeat;
  }
}

main{
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  color: var(--color-light);
  font-weight: 700;
}

h1, .h1{
  @include fluid-text(90, 35);
}

a,
button,
label,
input,
textarea,
select,
svg * { 
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible{
  outline: rem(2) dashed var(--color-light);
  outline-offset: rem(4);
  transition-duration: 0s !important;
}

a,
button {
  &[aria-label] {
    position: relative;

    &::before{
      @include abs-center;
      @include square(rem(44));

      content: '';
    }
  }
}